# Node
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
/dist
/build
/out

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Testing
/coverage

# Database dumps
*.dump

# Temporary files
.tmp/
temp/
